<div class="row">
    <div class="col-sx-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sx-12">
        <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">
            <div class="pull-left">
                <h4 class="list-group-heading">{{recipe.name}} </h4>
                <p class="list-group-item-text">Desscription</p>
            </div>
            <span class="pull-right">
                <!--here we are using string interpolation 
                or we can use the property binding and bind the property of src to the image path-->
                <img src="{{recipe.imagePath}}" alt="" srcset="" class="img-responsive" style="max-height: 50px;">
            </span>
        </a>
    </div>
</div>
<app-recipe-item></app-recipe-item>